.product-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.product-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.name-container {
  /* border: 2px solid black; */
  width: 15rem;
}

.exercise-item {
  /* border: 1px solid black; */
  margin-right: 20px;
  width: auto;
  height: 50px;
  background-color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  .product-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
